In [3]:
import pandas as pd

In [4]:
# Load data
National_Parks_cleaned_df = pd.read_csv('../Resources/cleaned/National_Parks_cleaned.csv')
National_Parks_cleaned_df

,park_code,park_name,fee_per_car,fee_per_person,street_address,city,state,zip,phone,email,lat,lng,weather_summary
0,acad,Acadia National Park,30.0,15.0,25 Visitor Center Road,Bar Harbor,ME,04609,2072883338,acadia_information@nps.gov,44.409286,-68.247501,"Located on Mount Desert Island in Maine, Acadi..."
1,agfo,Agate Fossil Beds National Monument,0.0,0.0,301 River Road,Harrison,NE,69346,NaN,agfo_ranger_activities@nps.gov,42.421704,-103.753886,"Summers can be very warm, high 90's to 100 wit..."
2,alka,Ala Kahakai National Historic Trail,0.0,0.0,Superintendent,Kailua-Kona,HI,96740,NaN,aric_arakaki@nps.gov,19.144668,-155.890734,Hawaiʻiʻs coast is generally sunny and hot. Be...
3,alfl,Alibates Flint Quarries National Monument,0.0,0.0,37084 Alibates Rd.,Potter County,TX,79036,NaN,lamr_interpretation@nps.gov,35.581966,-101.671701,The Texas Panhandle experiences a wide variety...
4,alpo,Allegheny Portage Railroad National Historic Site,0.0,0.0,110 Federal Park Road,Gallitzin,PA,16641,NaN,alpo_interpretation@nps.gov,40.429775,-78.574316,"The park is located in Cambria County, PA, and..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,yell,Yellowstone National Park,35.0,20.0,2 Officers Row,Yellowstone National Park,WY,82190,307-344-7381,YELL_Information@nps.gov,44.598244,-110.547169,"Yellowstone's weather can vary quite a bit, ev..."
271,york,Yorktown Battlefield Part of Colonial National...,0.0,0.0,Yorktown Battlefield,Yorktown,VA,23690,NaN,colo_info@nps.gov,37.219500,-76.498300,"Yorktown, VA climate is warm during summer whe..."
272,yose,Yosemite National Park,35.0,20.0,9039 Village Drive,Yosemite,CA,95389,209/372-0200,yose_web_manager@nps.gov,37.848833,-119.557187,"Yosemite National Park covers nearly 1,200 squ..."
273,yuch,Yukon - Charley Rivers National Preserve,0.0,0.0,101 Dunkel St,Fairbanks,AK,99701,NaN,fair_information@nps.gov,65.093561,-142.796002,The area that Yukon-Charley Rivers encompasses...
274,zion,Zion National Park,35.0,20.0,Zion National Park,Springdale,UT,84767,435-772-3256,zion_park_information@nps.gov,37.298393,-113.026514,Zion is known for a wide range of weather cond...

In [5]:
all_trails_filtered_df = pd.read_csv('../Resources/cleaned/alltrails_filtered.csv')

In [6]:
summary_table = pd.DataFrame({'num_of_trails':all_trails_filtered_df.groupby('park_code').count()['trail_id'],
                'avg_difficulty':all_trails_filtered_df.groupby('park_code').mean()['difficulty_rating'],
                'avg_rating':all_trails_filtered_df.groupby('park_code').mean()['avg_rating']})

summary_table = summary_table.reset_index(drop=False)
summary_table

   park_code  num_of_trails  avg_difficulty  avg_rating
0       acad            133        2.879699    4.473684
1       arch             34        1.941176    4.397059
2       badl              9        2.333333    4.166667
3       bibe             44        2.500000    4.238636
4       blca             20        2.100000    4.350000
5       brca             28        2.500000    4.428571
6       cany             38        2.684211    4.407895
7       care             29        2.655172    4.465517
8       cave              2        1.000000    4.500000
9       chis             11        2.636364    4.454545
10      cong              6        1.000000    3.833333
11      crla             18        2.111111    4.250000
12      cuva             45        2.377778    4.222222
13      dena             11        2.454545    4.272727
14      deva             31        2.161290    4.290323
15      ever             12        1.000000    3.833333
16      glac             81        3.469136    4.444444
17      glba              1        1.000000    4.500000
18      grba             14        3.142857    4.464286
19      grca             63        3.730159    4.555556
20      grsa             10        3.400000    4.250000
21      grsm            181        3.408840    4.284530
22      grte             65        3.215385    4.523077
23      gumo             15        3.800000    4.400000
24      hosp             15        2.733333    3.966667
25      indu             10        2.000000    4.200000
26      isro              1        5.000000    4.000000
27      jotr             59        2.525424    4.322034
28      kefj              2        3.000000    4.750000
29      lavo             32        2.687500    4.390625
30      maca             21        1.857143    3.904762
31      meve             17        1.705882    4.205882
32      mora            106        3.094340    4.452830
33      noca             10        3.800000    4.450000
34      olym            101        3.356436    4.425743
35      pefo             12        1.500000    4.208333
36      pinn             18        3.666667    4.444444
37      redw             13        2.692308    4.423077
38      romo            149        3.187919    4.483221
39      sagu             43        2.395349    4.174419
40      seki             76        3.026316    4.526316
41      shen            121        2.851240    4.194215
42      thro             15        2.733333    4.300000
43      voya              3        1.666667    3.833333
44      wica              8        2.250000    4.187500
45      wotr              1        1.000000    4.500000
46      yell            123        2.219512    4.341463
47      yose            127        3.440945    4.590551
48      zion             65        3.000000    4.323077

In [9]:
Combined_Data = summary_table.merge(National_Parks_cleaned_df, how = 'outer', on='park_code')
Combined_Data = Combined_Data.fillna(0)

In [10]:
## convert to csv 
Combined_Data.to_csv('../Resources/cleaned/national_parks_cleaned_with_avgs.csv',index=False)